<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application name = "RemotingServer">
			<client url = "tcp://localhost:4040/RemotingServer">
				<activated type = "Cesun.Remoting.Server.RemotingServer, Cesun.Remoting.Server" />
			</client>
			<channels>
				<channel ref="tcp client" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
